html,
body {
  height: 100%;
}

body {
  align-items: center;
  background: #551a8b;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif;
  justify-content: space-evenly;
}

a {
  color: white;
  text-decoration-style: dotted;
}

header {
  font-size: 2em;
  text-align: center;
}

h1 {
  font-weight: normal;
  margin: 0;
}

h1 > strong {
  font-weight: bold;
}

code.source {
  font-size:2em;
  white-space: pre;
}

code span {
  display: block;
}

code span:nth-child(2) {
  margin-left: 3em;
}

code span:nth-child(3) {
  margin-left: 6em;
}

code span:nth-child(4) {
  margin-left: 9em;
}
