html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%
}

*,
*:before,
*:after {
  box-sizing: border-box
}

body {
  align-items: center;
  background: #551a8b;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif;
  justify-content: space-evenly
}

a {
  color: #fff;
  text-decoration-style: dotted
}

header {
  font-size: 2em;
  text-align: center;
  display: grid;
  gap: 0.5em;
}

h1 {
  font-weight: 400;
  margin: 0
}

h1 > strong {
  font-weight: 700
}

figure {
  border: 1px solid rgba(255,255,255,0.5);
  padding: 2em 4em;
  border-radius: 1em;
  box-shadow: 0 1em 1em rgba(255,255,255,0.5);

}

code {
  font-size: 3em;
  white-space: pre
}